# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log

# Ansible
ansible/*.retry

# SSH Keys
*.pem
*.key
id_rsa
id_rsa.pub

# Python/cache
__pycache__/
*.pyc