global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:{{ haproxy_frontend_port }}
    default_backend app_backends

backend app_backends
    balance {{ haproxy_balance_method }}
    option httpchk GET /
{% for host in groups['backend'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:80 check
{% endfor %}

listen stats
    bind {{ ansible_host }}:{{ haproxy_stats_port }}
    mode http

    stats enable
    stats uri {{ haproxy_stats_uri }}
    stats refresh 10s
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}

    http-request use-service prometheus-exporter if { path {{ haproxy_metrics_uri }} }
    