[defaults]
inventory = inventory.ini
remote_user = devops
host_key_checking = False
roles_path = roles
retry_files_enabled = False
timeout = 30

[privilege_escalation]
become = False
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null